/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*=============== VARIABLES SCSS =============*/
:root{

    /*========== Colors ==========*/
    --hue: 0;
    --body-color: #fff;
    --body-color-black-transparent: rgba(0,0,0,.65);
    --text-color-whiter:#fff;
    --text-color-dark:#000;
    --title-color-whiter:#FFFFFF;
    --title-color-abyss-navy-blue:#00458c;
    --primary-color-hematite: #58585a;
    --primary-color-sky-shlong: #009ddc;
    --primary-color-white: #fff;
    --primary-color-white-transparent: rgba(255, 255, 255, 0.85);
    --primary-color-black: #000; 
    --primary-color-abyss-navy-blue:#00458c;
    --primary-color-fbi-blue: #01325d;
    --primary-color-rated-r:#0060a4;
    --secondary-color-salty-mermaid-ocean-blue:#3cbfbe;
    --secondary-color-damp-royalty: #00325D;
    --secondary-color-screeching-white: #eeeeee;
    
    /*========== Fonte e tipografia  ==========*/
    --body-font: "Inter", sans-serif;

    /*========== Fonte e tipografia  ==========*/
    --normal-font-size: 1rem;
    --font-size-xxs: 0.625rem;   
    --font-size-xs: 0.688rem; 
    --font-size-sm: 0.875rem;    
    --font-size-xss: 0.75rem;     
    --font-size-md-sm: 1.5rem;     
    --font-size-lg-sm: 1.563rem;   
    --font-size-xxxl-sm: 3rem;   

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margens ==========*/
    --mb-0: 0rem; 
    --mb-0-5: 0.5rem; 
    --mb-0-875:0.875rem; 
    --mb-0-625: 0.625rem;
    --mb-1-0: 1rem;
    --mb-1-875: 1.875rem; 
    
    /*========== Padding ==========*/
    --pd-0: 0rem;
    --pd-0-188: 0.188rem; 
    --pd-0-25: 0.25rem; 
    --pd-0-313: 0.313rem; 
    --pd-0-625: 0.625rem; 
    --pd-0-75: 0.75rem; 
    --pd-0-938: 0.938rem; 
    --pd-1-25: 1.25rem; 
    --pd-2-188: 2.188rem;
    --pd-1-688: 1.688rem; 
    --pd-1-5: 1.5rem; 
    --pd-1-563: 1.563rem; 
    --pd-0-563: 0.563rem;
    --pd-3-125: 3.125rem; 
    --pd-3-75: 3.75rem; 
    --pd-1-875: 1.875rem; 
   
    /*========== Gap ==========*/
    --gap-0-625: 0.625rem;    
    --gap-0-875: 0.875rem;
    --gap-1-25: 1.25rem;
    --gap-1-5: 1.5rem;  
    --gap-2-5: 2.5rem; 
    --gap-1-875: 1.875rem; 
    --gap-1-875: 1.875rem; 
}